.root {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.brandText {
    font-size: 24px;
    font-weight: 700;
    color: var(--standard-black);
    margin: 0;
    letter-spacing: -0.5px;
}

@media (max-width: 800px) {
    .brandText {
        font-size: 20px;
    }
}