.root {
    width: 100%;
}

.detailsContainer {
    margin-top: 16px;
}

.imageContainer {
    position: relative;
    cursor: pointer;
}

.root img {
    display: block;
    width: 100%;
    object-fit: cover;
    border-radius: 1px;
}

.productName {
    font-size: 14px;
    line-height: 17px;
    color: var(--standard-black);
    display: block;
}

.author {
    font-size: 12px;
    line-height: 15px;
    color: var(--grey-placeholder);
    display: block;
}

.prices {
    margin-top: 8px;
    font-size: 14px;
    line-height: 17px;
}

.prices span {
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
}

.salePrice {
    color: var(--sale);
}

.originalPrice {
    text-decoration: line-through;
    color: var(--grey-placeholder);
}

.meta {
    font-size: 14px;
    line-height: 17px;
    color: var(--grey-placeholder);
}

.prices > span:first-child {
    margin-right: 16px;
}

@media (max-width: 600px) {
    .imageContainer img{
        height: 300px !important;
    }

    .productName {
        font-weight: normal;
        font-size: 13px;
        line-height: 16px;
    }

    .author {
        font-size: 11px;
        line-height: 14px;
    }

    .prices span {
        font-size: 13px;
        line-height: 16px;
    }
}

@media (max-width: 400px) {
    .imageContainer img{
        height: 220px !important;
    }
}